{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<div class="col col-4 col-d-6 col-t-12">
  <div class="widget widget-tags">
    <div class="widget__head">
      <h3 class="widget__title">Explore tags</h3>
    </div>
    <div class="tag__cloud">
        {% for item in (0..site.tags.size) %}
          {% unless forloop.last %}
            {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
            <a href="/tags/#{{ this_word | cgi_escape }}" class="tag__link">{{ this_word }}</a>
          {% endunless %}
        {% endfor %}
</div>
  </div>
</div>